server:
  port: 9002
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/weekendtrip
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5Dialect

application:
  security:
    jwt:
      secret-key: 5A7234753778214125442A472D4B6150645267556B58703273357638792F423F


